name = "yt-chat-final" 
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[vars]
TRUFFLE_API_BASE = 'https://v2.truffle.vip'

[durable_objects]
# We use the V3 class we created
bindings = [{ name = "YOUTUBE_CHAT", class_name = "YoutubeChatV3" }]

[[migrations]]
tag = "v1-init" 
new_sqlite_classes = ["YoutubeChatV3"]
