name = "yt-chat-fresh" # Matches the new Repo Name
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[vars]
TRUFFLE_API_BASE = 'https://v2.truffle.vip'

[durable_objects]
# We keep the V3 code you already have
bindings = [{ name = "CHAT_DB", class_name = "YoutubeChatV3" }]

[[migrations]]
tag = "v1-init" # A fresh start tag
new_sqlite_classes = ["YoutubeChatV3"]
