name = "youtube-websocket"
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[vars]
TRUFFLE_API_BASE = 'https://v2.truffle.vip'

[durable_objects]
# CHANGED BINDING NAME to CHAT_DB
bindings = [{ name = "CHAT_DB", class_name = "YoutubeChatV3" }]

[[migrations]]
tag = "v3-clean-deploy" 
new_sqlite_classes = ["YoutubeChatV3"]
deleted_classes = ["YoutubeChat"]
