name = "youtube-websocket"
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[vars]
TRUFFLE_API_BASE = 'https://v2.truffle.vip'

[durable_objects]
# UPDATED TO V3 HERE
bindings = [{ name = "YOUTUBE_CHAT", class_name = "YoutubeChatV3" }]

[[migrations]]
# BRAND NEW TAG TO FORCE DEPLOY
tag = "v3-nuclear-fix" 
new_sqlite_classes = ["YoutubeChatV3"]
